<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<form method="POST">

<div class="grid">
  <div class="chat">
    <div class="message" id="messages">
      {% for m in message %}
        <div class="msg">{{ m }}</div>
      {% endfor %}
    </div>
    <div class="input">
      <input id="chatInput" type="text" name="text" placeholder="Type..." autocomplete="off"/>
    </div>
  </div>

  <div class="image">
    <img src="{{ url_for('static', filename='Robot_ph.png') }}" />
  </div>

  <div class="buttons">
    {% for btn in buttons %}
      <button type="submit" name="button_click" value="{{ btn }}">
        {{ btn }}
      </button>
    {% endfor %}
  </div>
</div>

</form>

<script>
  function scrollDown() {
    const box = document.getElementById("messages");
    box.scrollTo({ top: box.scrollHeight });
  }

  window.addEventListener("load", () => {
    scrollDown();
    document.getElementById("chatInput").focus();
  });
</script>

</body>
</html>